@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*폰트*/
body{
    font-family: 'NanumSquareRound';
    font-weight: 600;
    font-size: 17px !important;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    height: 100vh;
}

footer{
    position: relative;
    height:155px;
    transform:translateY(-100%)
}

.wrapper{
    height:auto;
    min-height:100%;
    padding-bottom:220px
}
ul {
    list-style-type: none;
}